main {
    background-color: #020538; /*Carphone Navy*/
    font-family: 'Roboto', sans-serif;
    color: #FAFAFA;
    width: 100%;
    overflow-x: hidden;
}

.eir-password {
    color: #000000;
    text-align: center;
}

.top-banner {
	background-image: url(../media/img/carphone-warehouse.jpg);
    background-repeat: no-repeat;
	background-color: #020538;
	height: 35vh;
	width: 100%;
	background-position: center center;
	
}

.home-grid {
	margin-bottom: 100px;
	
}

.click-tile1 {
	background-image: url("../img/plain-phone.jpg");
	height: 400px;
}

.click-tile2 {
	background-image: url("../img/vintage-tv.jpg");
	height: 400px;
}

.click-tile3 {
	background-image: url("../img/wifi-symbol.png");
	height: 400px;
}

.click-tile4 {
	background-image: url("../img/phonecase.jpg");
	height: 400px;
}

/*Uniform Boxes*/
.stream8 {
    background-color: #00008B;
    
    border-color: grey;
}

/*.the-phones {
    width: 300px;
}

.the-phones img {
    width: 290px;
}

.broadband-and-tv {
    width: 600px;
}

.broadband-and-tv img {
    width: 75%;
}


.sky-tv {
    width: 600px;
}
.sky-tv img {
    width: 75%;
}

.the-accessories {
    width: 300px;
}
.the-accessories img {
    width: 290px;
}
*/

.header{
	padding: 10px 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.sticky + .content {
  padding-top: 102px;
}

h1{
	font-size: 3em;
	text-align: center;
}
h2{
	font-size: 1em;
	text-align: center;
	font-family:'Ubuntu';
}
p{
	font-size: .9rem;
}

div{
	border-radius: 4px;
}

.card_image1{
	width: auto;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
}

.card_image1 img{
	width: auto;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
}

.card_image2{
	width: 300px;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
}


.turq-button{
	display: flex;
	box-sizing:border-box;
	border-radius: 4px;
	display: block;
	width: 100%;
	background-color:#32BEBF;
	text-align: center;
	padding: 0em .75em;
	text-decoration: none;
	color: #fff;
	margin: auto;
	margin-bottom: 5px;
	
}

.card_bottom{
	display: flex;
	flex-flow:column;
}
.card_head{
	flex:0;
	text-align: center;
}
.card_para{
	flex:1 0 auto;
	display: none;
	color: #000000;
}

.cashup {
	height: 100vh;
	width: 100vw;
}
.cash-calculator {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 60%;
}